<div class="container">
    <div class="jumbotron">
        <h1> <img src="/img/burgericon.png" alt="Burger">Eat Da Burger</h1>
    </div>

    <div class="container">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <label for="ca">Create a Burger</label>
                <input type="text" id="burger" name="burger_name" placeholder="  yummy burger">
            </div>
            <button type="submit" class="btn btn-success btn-sm" id="add-it">Add It!</button>
        </form>
    </div>
    <br>
    <div class="panel panel-default col-md-5" style="padding: 0px">
        <div class="panel-heading">
            <h3>Ready to Eat</h3>
        </div>
        <div class="panel-body">
            {{#each burger}}
            {{#unless this.devoured}}
            <p>
                {{this.id}}<span>.</span> {{this.burger_name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devour" value="true">
                    <button id="eat-it" type="submit" class="btn btn-warning btn-sm">Eat It!</button>
                </form>
            </p>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-2">
    </div>

    <div class="panel panel-default col-md-5" style="padding: 0px">
        <div class="panel-heading">
            <h3>Already Eaten</h3>
        </div>
        <div class="panel-body" id="eaten">
            {{#each burger}}
            <p>
                {{#if this.devoured}}
                {{this.id}}<span>.</span> {{this.burger_name}}
                {{/if}}
            </p>
            {{/each}}

        </div>
    </div>

</div>